<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .mainSection{
            width:70%;
            margin:0 auto;
            border:2px solid lightgrey;
        }
    </style>
    <script>

    </script>
</head>
<body>

<div class="mainSection">
    <div class="newQuestion">
        <input type="radio" name="questionType" value="Text Answer">
        <input type="radio" name="questionType" value="Single Choice">
        <input type="radio" name="questionType" value="Multiple Choice">
        <input type="radio" name="questionType" value="Condition">
    </div>

</div>
</body>
</html>